app/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Tarif plans</title>
    <link href="css/app.css" rel="stylesheet" />
  </head>
  <body>
    <div id="tarifs">
      <div class="plan">
        <div class="title">
          Plan 1
        </div>
        <div class="price">
          $10/<span>month</span>
        </div>
        <div class="options">
          <div class="options-item">
            2x<span> option 1</span>
          </div>
          <div class="options-item">
            Free<span> option 2</span>
          </div>
          <div class="options-item">
            Unlimited<span> option 3</span>
          </div>
          <div class="options-item">
            Unlimited<span> option 4</span>
          </div>
          <div class="options-item">
            1x<span> option 5</span>
          </div>
        </div>
        <div class="purchase">
          <div class="purchase-button">
            Purchase
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="title">
          Plan 2
        </div>
        <div class="price">
          $10/<span>month</span>
        </div>
        <div class="options">
          <div class="options-item">
            2x<span> option 1</span>
          </div>
          <div class="options-item">
            Free<span> option 2</span>
          </div>
          <div class="options-item">
            Unlimited<span> option 3</span>
          </div>
          <div class="options-item">
            Unlimited<span> option 4</span>
          </div>
          <div class="options-item">
            1x<span> option 5</span>
          </div>
        </div>
        <div class="purchase">
          <div class="purchase-button">
            Purchase
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="title">
          Plan 3
        </div>
        <div class="price">
          $30/<span>month</span>
        </div>
        <div class="options">
          <div class="options-item">
            2x<span> option 1</span>
          </div>
          <div class="options-item">
            Free<span> option 2</span>
          </div>
          <div class="options-item">
            Unlimited<span> option 3</span>
          </div>
          <div class="options-item">
            Unlimited<span> option 4</span>
          </div>
          <div class="options-item">
            1x<span> option 5</span>
          </div>
        </div>
        <div class="purchase">
          <div class="purchase-button">
            Purchase
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="title">
          Plan 4
        </div>
        <div class="price">
          $40/<span>month</span>
        </div>
        <div class="options">
          <div class="options-item">
            2x<span> option 1</span>
          </div>
          <div class="options-item">
            Free<span> option 2</span>
          </div>
          <div class="options-item">
            Unlimited<span> option 3</span>
          </div>
          <div class="options-item">
            Unlimited<span> option 4</span>
          </div>
          <div class="options-item">
            1x<span> option 5</span>
          </div>
        </div>
        <div class="purchase">
          <div class="purchase-button">
            Purchase
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

app/dev/slim/index.slim
doctype html
html
  head
    meta charset='UTF-8'
    title Tarif plans
    link rel='stylesheet' href='css/app.css'
  body
    #tarifs
      .plan
        .title Plan 1
        .price
          | $10/
          span month
        .options
          .options-item
            | 2x
            span  option 1
          .options-item
            | Free
            span  option 2
          .options-item
            | Unlimited
            span  option 3
          .options-item
            | Unlimited
            span  option 4
          .options-item
            | 1x
            span  option 5
        .purchase
          .purchase-button Purchase
      .plan
        .title Plan 2
        .price
          | $10/
          span month
        .options
          .options-item
            | 2x
            span  option 1
          .options-item
            | Free
            span  option 2
          .options-item
            | Unlimited
            span  option 3
          .options-item
            | Unlimited
            span  option 4
          .options-item
            | 1x
            span  option 5
        .purchase
          .purchase-button Purchase
      .plan
        .title Plan 3
        .price
          | $30/
          span month
        .options
          .options-item
            | 2x
            span  option 1
          .options-item
            | Free
            span  option 2
          .options-item
            | Unlimited
            span  option 3
          .options-item
            | Unlimited
            span  option 4
          .options-item
            | 1x
            span  option 5
        .purchase
          .purchase-button Purchase
      .plan
        .title Plan 4
        .price
          | $40/
          span month
        .options
          .options-item
            | 2x
            span  option 1
          .options-item
            | Free
            span  option 2
          .options-item
            | Unlimited
            span  option 3
          .options-item
            | Unlimited
            span  option 4
          .options-item
            | 1x
            span  option 5
        .purchase
          .purchase-button Purchase
